{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}<title>Change Password</title>{% endblock title %}
{% block body %}
<div class="container p-5">
    <h1>Change Password</h1>
    <div>
        <form method="post" novalidate>
            {% csrf_token %}
            <!-- {{ form|crispy }} -->
            <!-- Non Feilds Error -->
            {% if form.non_field_errors %}
            {% for err in form.non_field_errors %}
            <div class="alert alert-{{ m.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ err }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">x</button>
            </div>
            {% endfor %}
            {% endif %}

            {% for fm in form %}
            {{ fm.label_tag }}
            {{ fm }}
            {{ fm.errors }}
            {% endfor %}
            <button class="btn btn-primary my-3" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock body %}